body {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll; /* este es el valor por defecto */
  color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(46, 139, 87, 0.9); /* Verde con transparencia */
}

.navbar .nav-link {
  color: white !important;
  font-weight: 500;
  margin-left: 10px;
}

.navbar .nav-link:hover {
  background-color: #007bff; /* Azul */
  color: white !important;
  border-radius: 5px;
}

.content {
    padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.4); /* leve oscurecimiento sobre imagen */
}

h1 {
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #007bff;
  padding: 10px 30px;
  border-radius: 10px;
}

.btn-crear {
  background-color: #28a745;
  color: white;
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 1.2rem;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.btn-crear:hover {
  background-color: #218838;
}

* ::after,*, *,::after{
    box-sizing: border-box;
}
.center-texto{
    text-align: center;
}

.container{
    margin: 3.1rem auto 0 auto;
}
@media (min-width: 700px) {
    .container{
        max-width: 700px;
    }  
}
h1,p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h1{
    font-weight: 400;
    line-height: 1.2;
}
.heder_descripcion{
    font-weight: 200;

}
input,button, select, textarea{
    font-family: inherit;
    font-size: 500;
    margin: 0;
    line-height: inherit;
}
.formulario{
    background-color: rgba(88, 86, 85, 0.363);
    padding: 2.5rem 0.62rem;
    border-radius: 0.3rem;
}
@media (min-width: 768px){
     .formulario{
        padding: 2.5rem;
     }
}


.campo{
    margin: 0 auto 1.25rem auto;
}
    
.campo_input{
    display: block;
    width: 100%;
    height: 2.3rem;
    border-radius: 0.2rem;

}

input{
    border: none;
}

.campo_radio{
    display: inline-block;
    margin-right: 0.62rem;
    min-height: 1rem;
    min-width: 1rem;
}
label{
    display: flex;
   align-items: center;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.campo_textarea{
    min-height: 120px;
    width: 100%;
    padding: 0.62rem;
    resize: vertical;
}

.campo_submit{
    display: block;
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    background-color: rgba(15, 235, 62, 0.925);
    color: black;
    font-weight: 600;
}
.campo_submit:hover{
    cursor: pointer;
}